<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PayrollSystem_DBConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Docs\Devry\Web Apps\CIS407A\CIS407A\PayrollSystemWk7\PayrollSystem_DB.mdb&quot;"
     providerName="System.Data.OleDb" />

  </connectionStrings>
  <location path="~/images/CoolBiz_Productions_logo.JPG"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="frmLogin.aspx" />
    </authentication>
    <authorization >
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>